body {
  font-family: "Mynerve", cursive;
  scroll-behavior: smooth;
  background: #dac9df;
}

/*********************  MENU NAV ******************************/

nav {
  background-color: #81638b;
  box-shadow: 5px 5px 8px #9ce0db;
}

.nav-item a {
  font-size: 1.5rem;
  color: #5dc1b9;
  margin: 0 10px;
  transition: all 0.7s ease-in;
}

.nav-item a:hover {
  color: #b695c0;
  background-color: #f7bfd8;
  border-radius: 5px;
}

.navigation-wrap .nav-item {
  padding: 5px 0;
}

.navbar-toggler {
  border: 2px solid #dac9df;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler i {
  color: #dac9df;
  font-size: 27px;
}

.navbar-nav {
  text-align: center;
}

.dropdown-menu {
  background-color: #fbd6e7;
  border: none;
}

.logo1 {
  border-radius: 25%;
  max-height: 180px;
}

/*********************  TITULOS Y TEXTOS ******************************/

.titulos {
  font-size: 3.5rem;
  color: #5dc1b9;
}

/*********************  SECTION 1 ******************************/

.contacto_formulario {
  margin-bottom: 150px;
}

.espacio {
  padding: 50px 0;
}

.foto2 {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.formulario {
  margin-top: 200px;
  font-size: 2rem;
  color: #81638b;
}

.enviar {
  width: 170px;
  height: 60px;
  color: #dac9df;
  margin: 0 auto;
  font-size: 26px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 20px;
  border-width: 2px;
  background-color: #81638b;
  border-radius: 10px;
}

/*********************  FOOTER ******************************/
#footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: #5dc1b9;
  text-align: center;
  background-color: #81638b;
}

/*********************  SCROLLTOP ******************************/
.goto-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 90px;
}

/*********************  BOTON WHATSAPP ******************************/
.whatsapp-button {
  position: fixed;
  bottom: 30px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebc59;
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  /* Ajusta el tamaño de los textos */
  .titulos {
    font-size: 2rem;
  }

  .formulario {
    margin-top: 50px;
    font-size: 1.5rem;
  }

  /* Asegúrate de que las columnas ocupen el 100% del ancho */
  .form-group .col-6 {
    width: 100%;
    padding: 0 15px;
  }

  /* Alinear las imágenes de redes sociales al centro */
  .social-icon {
    width: 50px;
    height: 50px;
  }

  .foto2 {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  /* Ajusta el tamaño del botón */
  .enviar {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }

  /* Ajustes generales de padding y margin */
  .espacio {
    padding: 20px 0;
  }
}
