body {
  background-color: #fbfff4;
  margin: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

nav.navbar {
  z-index: 99;
}

.navbar {
  background-color: #006691;
}

.nav-link {
  color: #00f9fb;
}

#footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #00f9fb;
  text-align: center;
  background-color: #006691;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner1reto6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}

.banner .container {
  color: white;
  text-align: center;
}

.banner h1 {
  font-size: 3rem;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-primary-custom {
  background-color: #006691;

  border-color: #006691;
  border-radius: 1.5rem;
}

.btn-primary-custom:hover {
  background-color: #004a6d;
  border-color: #004a6d;
}

.btn-lg-custom {
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;
}

.btn-secondary-custom {
  border-radius: 1.5rem;
  font-size: 1.25rem;
}
